p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
:root {
  --text: #434455;
  --second-text: #2e2f42;
  --background: #ffffff;
  --logo: #4d5ae5;
  --logo-bac: #404bbf;
  --footer-text: #e7e9fc;
  --logo-bot: #f4f4fd;
  --border-header: #e7effc;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}

body {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: var(--text);
  background: var(--background);
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo);
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-top {
  color: var(--second-text);
}
/* Header nav */
.link-nav {
  list-style: none;
  color: var(--second-text);
  font-weight: 500;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--logo-bac);
}
.link-addres {
  list-style: none;
  color: var(--text);
  font-weight: 400;
}
.link-addres:hover,
.link-addres:focus {
  color: var(--logo-bac);
}
.address {
  font-style: normal;
}
.header {
  height: 72px;
  background: var(--background);
  border-bottom: 1px solid var(--border-header);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.header-container {
  display: flex;
}
/* Footer */
.footer {
  background: var(--second-text);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-bot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-bot);
}
.footer-text {
  color: var(--footer-text);
  width: 264px;
}
.footer-list {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  width: 264px;
}
.logo.link.bot {
  margin-bottom: 18px;
  display: inline-block;
}
/* page-1 */
.hero {
  background-color: var(--second-text);
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background);
  margin: 0 auto;
  width: 496px;
  height: 120px;
  margin-bottom: 48px;
}

.servise-but {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background);
  background: var(--logo);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  align-items: center;
  margin: auto;
  display: block;
  border: 0;
}
.servise-but:hover,
.servise-but:focus {
  background: var(--logo-bac);
}
.features-list {
  display: flex;
  gap: 24px;
}
.main-text {
  width: calc((100% - 72px) / 4);
}

.example {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text);
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.example-list {
  display: flex;
  gap: 24px;
}
.team {
  background: var(--logo-bot);
}
.team-list {
  display: flex;
  gap: 24px;
  width: calc((100% - 96px) / 4);
}
.img-item {
  border: 1px solid var(--footer-text);
}
.section-head {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--second-text);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section.example {
  padding-top: 0;
}
.section-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-text {
  background: var(--background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.img-team-text {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* page-2 */
.section.portfolio {
  padding-top: 96px;
}
.navigation {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}
.navigation-example {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.img-text {
  background: var(--background);

  width: calc((100% - 48px) / 3);
}
.nav-but {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--logo);
  background: var(--logo-bot);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--footer-text);
  border-radius: 4px;
  padding: 12px 24px;
}
.nav-but:hover,
.nav-but:focus {
  color: var(--background);
  background: var(--logo-bac);
  cursor: pointer;
}
.nav-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--second-text);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-description {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--text);
}
.nav-list-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--footer-text);
  border-left: 1px solid var(--footer-text);
  border-bottom: 1px solid var(--footer-text);
}
